<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.njk' %}
</head>

<body>
  <header>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          {% set navPages = collections.all | eleventyNavigation("knowledge-base") %}

          {% macro renderNavListItem(entry) -%}
          <li {% if entry.url == page.url %} class="my-active-class"{% endif %}>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
            {%- if entry.children.length -%}
              <ul class="nested vertical menu">
                {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
              </ul>
            {%- endif -%}
          </li>
          {%- endmacro %}

          <ul class="vertical menu">
            {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
          </ul>
        </div>
      </div>
    </div>

    <hr>

  </header>
  <main>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">

          <h1>{{ title }}</h1>
          {{ content | safe }}

        </div>
      </div>
    </div>
  </main>
  {% initClipboardJS %}
</body>
</html>