<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.njk' %}
</head>

<body>
  <header>
    <p>Other Knowledge pages</p>
    {% set navPages = collections.all | eleventyNavigation("knowledge-base") %}
    {{ navPages | eleventyNavigationToHtml | safe }}
    <hr>
  </header>
  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>
  {% initClipboardJS %}
</body>
</html>